* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
}

.margin-right {
    margin-right: 20px;
}

ul{
    margin-left: 40px;
}

.blockquote {
    margin-top: 10px;
}

.logo-color {
    color: green;
    margin-right: 5px;
}

.letter-c {
    font-family: 'Nosifer', sans-serif;
    size: 50%;
    color: green;
}

.logo-text {
    color: rgb(161, 161, 161);
}

.header {
    padding-top: 75px;
}

.header > .jumbotron {
    background-image: linear-gradient(to top left, rgba(255, 166, 0, 0.685), rgba(226, 108, 65, 0.664)), 
    url(images/undraw_code_thinking_1jeh.png); /*Open source image*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    border-radius: 10px;
    letter-spacing: 2px;
    color: white;
}

div.card {
    margin-top: -10px;
}

.sizeh1 {
    font-size:5vw;
}

.infoSection {
    height: auto;
}

.container > .card,
.container > .card > .rounded {
    border-radius: 10px;
}

.author-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.skills {
    height: auto;
    width: 100%;
}

footer {
    width: 100%;
    background-color: #343a40;
    color: #FFFFFF80;
    height: 60px;
    text-align: center;
    padding-top: 15px;
}

.marginLeft {
    margin-left: 40px;
}

.card-text {
    font-size: 16px;
}

.carD {
    background-color: dodgerblue;
    color: white;
    padding: 1rem;
    height: 4rem;
  }
  
  .carDs {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
  }

.box-image {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    width: 50%;
    margin: 15px auto;
}

.resume {
     background-color: #ebebeb;
     border-radius: 10px;
     width: 100%;
     padding: 40px;
     margin-top: -10px;
     margin-bottom: -20px;
 }
  
  /* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
    .carDs { 
        grid-template-columns: repeat(2, 1fr); 
    }
}
  
  /* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
    .carDs { 
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (min-width: 600px) {
    .carDs { 
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (min-width: 900px) {
.carDs { grid-template-columns: repeat(3, 1fr); }
}

@media (max-width: 365px) {
    .fixUl {
        font-size: 14px;
        text-align: center;
        margin-left: -2px;
    }

    .card-text {
        font-size: 14px;
    }

    .display-4 {
        font-size: 20px;
        font-weight: 500;
    }

    .lead {
        font-size: 17px;
    }

    .jumbotron {
        width: 308px;
        margin-left: -15px;
    }
}

@media (max-width: 767px) {
    .navbar-collapse > .navbar-nav > .nav-item > .nav-link {
        margin-top: 20px;
    }
}

@media screen and (min-width: 601px) {
    .sizeh1 {
        font-size:80px;
    }
}
  
/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    .sizeh1 {
        font-size:40px;
    }
}

@media screen and (max-width: 990px) {
    .sizeh1 {
        font-size:40px;
    }

    .fixWidth {
        width: 100%;
    }

    .row {
        width: 100px;
    }
}
